<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        @* <h1>Hobbies ID: @ViewBag.SpecificUser.UserId</h1> *@
        <h1>Hobbies</h1>
        <div class="jumbotron">
            @{

                @foreach (var hobbie in @ViewBag.AllHobbies)
                {
                    <p><a href="OneHobby/@hobbie.HobbyId">@hobbie.HobbyName</a></p>
                    var usersList = ((IEnumerable<dynamic>)hobbie.UsersInThisHobby);
                    var userCount = usersList.Count();
                    <span>@hobbie.HobbyName Enthusiast: </span>
                    <span>@userCount</span>
                    <br>
                    <p>----------------------------</p>
                }

            }

            <br>
            <a href="CreateHobby">Create a Hobby</a>
        </div>
    </div>
</body>

</html>